{% extends 'base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
 <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert"><img src="https://www.pinclipart.com/picdir/big/131-1310444_check-sign-23-buy-clip-art-check-mark.png" style="height=20px; width:20px; "><strong> {{ message }} </strong> Event has been booked successfully !!
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% if events %}
         {% for event in events %}
         
         <div class="msg8">
         
         
         <h5> {{ event }} </h5>
         <P> {{ event.eventaddress}} </p>
         <P> {{ event.dtime}} </p>
         <P> <strong> Your date / time  for Event </strong> {{ event.date}}  {{ event.time}} </p>
         
         </div>
         {% endfor %}
        
         
                {% elif user.is_superuser or user.is_staff %}
                {% if events1  %}
                
                <div class="msg8">
                <h1> Total Events Booked by All Users ({{eventcount.count}})</h1></div>
        
                {% for event in events1 %}
                
     
                <div class="msg8">
                    
                   
                  <form method="post">
                    {% csrf_token %}
                   
                  <br>
                      <input type="text"  placeholder="  enter email " name="event" value="{{event}}" hidden>
                      
                      <button type="submit" style="decoration:none;border:none;background-color:white"> <h5> {{event}}</h5></button><br>
             
                    </form>   
                 
                         
                </div>
                {% endfor %}
                  {% else %}
     <div align="center" class="msg8">
      <h1>No Events booked By any user!!</h1>
        </div>
      {% endif %}
             {% else %}
             <div align="center" class="msg8">
             <h1>No Events booked Yet !!</h1>
             <p> Book events for free we have excellent events in Pune you can see all events from <strong> <a href="map" style="color:green;">here</a></strong></p>
             </div>
             {% endif %}
    
              
{% endblock %}
</body>
</html>