{% extends 'base.html' %}
{% block content %}
<style>

.pagination{
      margin-left: 50%;
}
</style>
                
                <div class="msg8">
                <h1> Update Events  </h1></div>
                {% if messages %}
{% for message in messages %}
 <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert"><img src="https://www.pinclipart.com/picdir/big/131-1310444_check-sign-23-buy-clip-art-check-mark.png" style="height=20px; width:20px; "><strong> {{ message }} </strong> 
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% if event_page %}
                  
                  {% for event in event_page %}
                 
                <div class="msg8">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent{{event.id}}" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><h2 style ="width:80%">{{event.event}}</h2></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent{{event.id}}">
                      <form method="post">
                        {% csrf_token %}
                        <input type="text" value="{{event.id}}" name="event_id" hidden >  
                        <p><strong>Event name:</strong>{{event.event}}</p>
                        <p><strong>Event info:</strong>{{event.info}}</p>
                        <p><strong>Event address:</strong>{{event.eventaddress}}</p>
                        <p><strong>Event datetime:</strong>{{event.fromdate}} TO {{event.todate}} {{event.fromtime}} - {{event.totime}}</p>
                      <br><br>  </div>
                          <button type="submit" class="btn btn-primary"  style="decoration:none;border:none;background-color:blue; posting: absolute; margin-top:-70px; margin-left:85%">Edit </button> </form>     
                </div>
                {% endfor %}
                <br>
                <div class="pagination text-center" >
             <span class="step-links">
             {% if event_page.has_previous %}
             <a href="?page=1">&laquo; first</a>
             <a href="?page={{ event_page.previous_page_number }}">previous</a>
             {% endif %}
             
        
             
             {% if event_page.has_next %}
             
             <a href="?page={{ event_page.next_page_number }}">next</a>
             <a href="?page={{ event_page.paginator.num_pages }}">last &raquo;</a>
             {% endif %}
             </span>
             </div>
         {% else %}
               <div class="msg8">
                 <h1>No Events</h1>
               </div>
                {% endif %}
         
{% endblock %}
</body>
</html>