{% extends 'base.html' %}
{% block content %} 
{% if messages %}
{% for message in messages %}
 <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert"><img src="https://www.pinclipart.com/picdir/big/131-1310444_check-sign-23-buy-clip-art-check-mark.png" style="height=20px; width:20px; "><strong> {{ message }} !!</strong> 
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<br>
<div class="shadow-lg continer " >
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
 
    <div class="row" style ="margin:15px">
        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
          <br><br>
            <div class="x_title">
              <h2>Data In Csv Format </h2>
            
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
<div class="row">
              <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-6" for="name">Event Details <span class="required">*</span>
                </label>
               <br><br> 
              </div>
            </div>
            <input type ="hidden" name="export_event">
              <button type="submit" class="btn btn-success" >Download</button>  
              <br><br>                          
                            </div>
                        </div>
                    </div>
                </div>
  </form>
  </div>
  {% if user.is_superuser or user.is_staff %}
  <div class="shadow-lg continer " >
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  <div class="row" style ="margin:15px">
  <div class="col-md-6 col-xs-12">
  <div class="x_panel">
  <br><br>
  <div class="x_title">
  <h2>Import Data From Excel </h2>
  
  <div class="clearfix"></div>
  </div>
  <div class="x_content">
  <div class="row">
  <div class="col-md-8 col-sm-12 col-xs-12 form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-6" for="name">Add Events <span class="required">*</span>
  </label>
  <p>All Field name should be in a format shown below <span class="required">*</span>
  </p>
  <p>Example: </p>
  <div style="overflow-x:scroll;">
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th>event_name</th>
        <th>event_details</th>
        <th>event_address</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>event_icon</th>
        <th>city</th>
        <th>event_datefrom</th>
        <th>event_datetill</th>
        <th>time_from</th>
        <th>time_till</th>

    </tr>
    <tr><td>Delhi James bond </td>
      <td>The 2022 edition of Delhi Jewellery & Gem Fair is on the 17th, 18th and 19th of September 2022 at New Delhi in New Delhi (India).</td>
      <td>India Gate Cir, New Delhi, Delhi</td>
      <td>30.3169</td>
      <td>78.033</td>
      <td>music-15</td>
      <td>New Delhi</td>
      <td>21-09-2022</td>
      <td>22-09-2022</td>
      <td>1.02.00</td>
      <td>2.20.00 PM</td>
</tr>
      
    </thead>
    
  </table></div>
  
  <br><br> 
  </div>
  </div>
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="myfile" class="form-control"><br>
  <button type="submit" class="btn btn-success" >Upload</button>                            
  
 
  <br><br>                          
  </div>
  </div>
  </div>
  </div>
  </form>
  </div>

{% endif %}
{% endblock %}
</body>
</html>

 