{% extends 'base.html' %}
{% block content %}
<div class ="msg8">
<form class="form-inline my-2 my-lg-0" method ="post" action="{% url 'map' %}">
{% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search by Event name or location" aria-label="Search" name="search" id="textSearch" onkeyup="searchOpen()" required>
      <button class="btn btn-outline-success my-2 my-sm-0 m-lg-2" type="submit"  >Search</button>
    </form>
 {% if events or locations %}

          
          <p> {% if locations %} {{locations.count}} {% elif events %}{{events.count}}  {% endif %}search results found for <strong>'{{searches}}'</strong></p>

           {% if locations %}   
                {% for event  in locations %}
                  <div class="msg8">
                <h1 style ="color:black">{{event.event}}</h1>
                <p><strong>Address </strong>{{event.eventaddress}}</p>
                <p>{{event.fromdate}} {{event.fromtime}} to {{event.todate}} {{event.totime}}</p>
                <p>{{event.info}}</p>
                </div>
                 {% endfor %}
           {% elif events %}
             {% for event in events %}   
                <div class="msg8">
              <h1 style ="color:black">{{event.event}}</h1>
                <p><strong>Address </strong>{{event.eventaddress}}</p>
                <p>{{event.fromdate}} {{event.fromtime}} to {{event.todate}} {{event.totime}}</p>
                <p>{{event.info}}</p>
                </div>
                {% endfor %}
           
           {% endif %}
                 
 {% else %}
       <div class="msg8">
       <h2>No search results found for <strong>'{{searches}}'</strong></h2>
               
        </div>
 {% endif %}
     </div>         
{% endblock %}
</body>
</html>