{% extends 'base.html' %}
{% load static %}
 



<body>
  {% block content %}
<div id="menu">
</div>
<div id="dropactive">
<a href="#" class="btn btn-primary orange_button text-center" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="height:30px; width:30px;padding:0px;padding-top:4px"><i class="fas fa-solid fa-circle" style="color:green;font-size:15px"></i></a></div><br><br>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
   
 <div  id="msg9">
<!-- <form method ="post" >
 {% csrf_token %}
 <input name="street" type="hidden" value="streets-v11" >
 <button type ="submit "><img src="{% static 'Street.jpeg' %}" style="height:15px"> </button></form>
 <form method ="post" >
 {% csrf_token %}
 <input name="satelite" type="hidden" value="satellite-v9" >
 <button type ="submit " style="height:30px; width:30px "><img src="{% static 'Satellite.jpeg' %}" style="height:25px;width:25px;margin-left:-7px"></button></form> -->
<br>
{% if eventbasepaging %}
 
  <div id="msg_wrapper">
    <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
    <h3 id="msg_heading">Active Events In {% for page in citynameunique %}{{page.title}}{% endfor %} ({{ eventbasecount.count }})</h3><br>
  </div>



<div class="infinite-item">

<!--  <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
   {% for page in eventbasepaging %}
      {% include 'list-events.html' %} 
   {% endfor %}
 
</div>
 
 <br>
 
  
 {% else %}
 <div id="msg_wrapper">
 <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
 <h3 id="msg_heading">Active Events In India ({{ mapings.count }}) </h3><br>
 </div>
 <div class="infinite-container">

 

<div class="accordion accordion-borderless infinite-item" id="accordionFlushExample">
<!--  <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
    {% for page in events  %}
       {% include 'list-events.html' %} 
    {% endfor %}
  
</div>


</div>
<span class="loader" style ="margin-left:50%;color:orange"></span>
<br>
</ul>

{% endif %}
</ul>
</div>

 <!-- 'icon': 'bar-15'
 'icon': 'music-15'
 'icon': 'art-gallery-15' -->
 
  
  
  <style>
  
    .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    </style>
   <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
   <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
 
   
 
    <div style="float:right;" id="map"></div>

    <script>
      
        mapboxgl.accessToken = 'pk.eyJ1IjoicGF0aWx2aXB1bCIsImEiOiJjbDNsdGloMmYwY3c2M2tsNDA3aGwwd2xpIn0.aOLTH7E6WHyN97Yd6eLgPA';
    const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
     antialias: true,
    {% if lat %}
    
    center: [{{lang}}, {{lat}}]
    {% elif baselat %}
    center: [{{baselang}}, {{baselat}}]
    {% else %}
    center: [78.9629, 20.5937]
    {% endif %}
    ,

    zoom: 11.15
    });
     
    map.on('load', () => {
    
    
    map.addSource('places', {
    // This GeoJSON contains features that include an "icon"
    // property. The value of the "icon" property corresponds
    // to an image in the Mapbox Streets style's sprite.
    'type': 'geojson',
    'data': {
    'type': 'FeatureCollection',
    'features': [
 
    {% for maping in mapings %}
    {
    
      'type': 'Feature',
      'properties': {
      'description': '<strong>{{ maping.event }}</strong><p> {{ maping.info |slice:":255" }}<br><br><a href="eventdetails-{{maping.id}}" style ="border:none;color:grey"><strong> read more..</strong></a> <br><br><b> Address:</b> {{ maping.eventaddress }} <br><b> Date/Time:</b> {{ maping.fromdate }} {{ maping.fromtime }} to {{ maping.todate }} {{ maping.totime }}</p><a href ="bookingform-{{maping.id}}-{{user.email}}"  class="btn btn-primary orange_button">Book</a>',
      
      'icon': '{{maping.icon}}'
    
    },
      'geometry': {
      'type': 'Point',
      
      'coordinates':  [{{ maping.lang }}, {{ maping.lat }}]    
      
     
      }
     
      },
      {% endfor %}

   
    ]

    }
    });
    
    // Add a layer showing the places.
    map.addLayer(
    {
    'id': 'places',
    'type': 'symbol',
    'source': 'places',
    'layout': {
    'icon-image': '{icon}',
    'icon-allow-overlap': true
    }
    });
     
    // When a click event occurs on a feature in the places layer, open a popup at the
    // location of the feature, with description HTML from its properties.
  /*  {% if lat %}
     const description = e.features[0].properties.description;
     new mapboxgl.Popup()
    .setLngLat([{{lang}},{{lat}}])
    .setHTML(description)
    .addTo(map);
    {% endif %}*/
    map.on('click', 'places', (e) => {
    // Copy coordinates array.
    const coordinates = e.features[0].geometry.coordinates.slice();
    const description = e.features[0].properties.description;
     
    // Ensure that if the map is zoomed out such that multiple
    // copies of the feature are visible, the popup appears
    // over the copy being pointed to.
    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }
     
    new mapboxgl.Popup()
    .setLngLat(coordinates)
    .setHTML(description)
    .addTo(map);
    });
     
    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'places', () => {
    map.getCanvas().style.cursor = 'pointer';
    });
     
    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'places', () => {
    map.getCanvas().style.cursor = '';
    });
    });
    map.addControl(
    new mapboxgl.GeolocateControl({
    positionOptions: {
    enableHighAccuracy: true
    },
    // When active the map will receive updates to the device's location as it changes.
    trackUserLocation: true,
    // Draw an arrow next to the location dot to indicate which direction the device is heading.
    showUserHeading: true
    })
    );
   const layerList = document.getElementById('menu');
   const inputs = layerList.getElementsByTagName('input');
   //console.log(inputs);
   for (const input of inputs) {
   input.onclick = (layer) => {
   const layerId = layer.target.id;
  map.setStyle('mapbox://styles/mapbox/' + layerId);
    
  };
    }
    map.addControl(
    new MapboxDirections({
    accessToken: mapboxgl.accessToken
    }),
    'top-left'
    );

     $(document).ready(function () {
            window.news_index = "{% url 'map' %}";
            console.log(page)
            var page = 1;
            var block_request = false;
            var end_pagination = false;

            $('#msg9').scroll(function () {
                var margin = $('#msg9').scrollTop();
                
                if (margin && end_pagination === false && block_request === false) {
                    console.log(margin)
                    $(".loader").addClass('spinner-border');
                    block_request = true;
                    page += 1;
                    console.log(margin)
                    $.ajax({
                        type: 'GET',
                        url: window.news_index,
                        data: {
                            "page": page
                        },
                        success: function (data) {
                            if (data.end_pagination === true) {
                                end_pagination = true;
                                $(".loader"). removeClass('spinner-border');
                            } else {
                                block_request = false;
                            }
                            $('.infinite-container').append(data.content);
                        }
                    })
                }
            });
        })
        
        function searchOpen() {
        var search = $('#txtSearch').val()
        var data = {
        search: search
        };
        $.ajax({
        url: 'map',
        data: data,
        dataType: 'jsonp',
        jsonp: 'callback',
        jsonpCallback: 'searchResult'
        });
        }
        
        
        function searchResult(data) {
        $( "#txtSearch" ).autocomplete ({
        source: data
        });
        }
</script> 

</body>
</html>
{% endblock %}